<div class="main-content">
    <div class="header">
      <h1>Student Management</h1>
    </div>
  
    <!-- Error Alert -->
    <app-error-alert [error]="error"></app-error-alert>
  
    <!-- Add New Student Button -->
    <button class="btn btn-primary mb-3" (click)="addStudentModal.openModal()">Add New Student</button>
  
    <!-- Student List -->
    <app-student-list 
  [students]="students" 
  (statusUpdated)="onStatusUpdated()">
</app-student-list>
  
    <!-- Pagination Controls -->
    <div class="pagination">
        <button 
          class="btn btn-secondary" 
          [disabled]="currentPage === 0" 
          (click)="goToPage(currentPage - 1)">
          Previous
        </button>
        <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
        <button 
          class="btn btn-secondary" 
          [disabled]="currentPage + 1 === totalPages" 
          (click)="goToPage(currentPage + 1)">
          Next
        </button>
      </div>
  
    <!-- Add Student Modal -->
    <app-add-student-modal #addStudentModal (studentAdded)="loadStudents()"></app-add-student-modal>
  </div>
  